@page
@model ToDoList.Pages.Tasks.IndexModel

@{
    ViewData["Title"] = "Index";
}

@using ToDoList.Utilities
<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
@foreach (var item in Model.Tasks)
{
    @if(item.Task.Completed)
    {
        continue;
    }

    @if(item.Task.ID != Model.Tasks.First().Task.ID)
    {
        <hr />
    }
    <div class="task-container">
        <ul class="task-item">
            <li class="task-title">@Html.DisplayFor(modelItem => item.Task.Title)</li>
            <li class="task-due-date">Due: @Html.DisplayFor(modelItem => item.Task.DueDate)</li>
            <li class="task-complete"><a asp-page="./Done" asp-route-id="@item.Task.ID"><i class="fas fa-check"></i></a></li>
            <li class="task-details"><a asp-page="./Details" asp-route-id="@item.Task.ID"><i class="fas fa-info-circle"></i></a></li>
            <li class="task-delete"><a asp-page="./Delete" asp-route-id="@item.Task.ID"><i class="fas fa-trash"></i></a></li>
            <li class="task-add"><a asp-page="./Create" asp-route-id="@item.Task.ID"><i class="fas fa-plus"></i></a></li>
        </ul>
    </div>
    @Html.PrintTask(item)
}
