@page
@model ToDoList.Pages.Entries.IndexModel

@{
    ViewData["Title"] = "Index";
}

@using ToDoList.Utilities
<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
@foreach (var item in Model.Entries)
{
    @if(item.Entry.Completed)
    {
        continue;
    }

    @if(item.Entry.ID != Model.Entries.First().Entry.ID)
    {
        <hr />
    }
    <div class="entry-container">
        <ul class="entry-item">
            <li class="entry-title">@Html.DisplayFor(modelItem => item.Entry.Title)</li>
            <li class="entry-due-date">Due: @Html.DisplayFor(modelItem => item.Entry.DueDate)</li>
            <li class="entry-complete"><a asp-page="./Done" asp-route-id="@item.Entry.ID"><i class="fas fa-check"></i></a></li>
            <li class="entry-details"><a asp-page="./Details" asp-route-id="@item.Entry.ID"><i class="fas fa-info-circle"></i></a></li>
            <li class="entry-delete"><a asp-page="./Delete" asp-route-id="@item.Entry.ID"><i class="fas fa-trash"></i></a></li>
            <li class="entry-add"><a asp-page="./Create" asp-route-id="@item.Entry.ID"><i class="fas fa-plus"></i></a></li>
        </ul>
    </div>
    @Html.PrintEntry(item)
}
